<a href="https://colab.research.google.com/github/SUDHANSHUKADAM/Data-Mining/blob/main/improve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

Data input

In [48]:
import pandas as pd

# Read the training dataset
train_data = pd.read_csv('train.csv')

# Read the test dataset
test_data = pd.read_csv('test.csv')

# Display basic information about the training dataset
print("Training Dataset Info:")
print(train_data.info())

# Display the first few rows of the training dataset
print("\nFirst few rows of the training dataset:")
print(train_data.head())

# Display basic information about the test dataset
print("\nTest Dataset Info:")
print(test_data.info())

# Display the first few rows of the test dataset
print("\nFirst few rows of the test dataset:")
print(test_data.head())

Training Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

First few rows of the training dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Test Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

First few rows of the test dataset:
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

Removing Title from name

In [49]:
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    if title_search:
        return title_search.group(1)
    return ""

# Extract titles from names
train_data['Title'] = train_data['Name'].apply(get_title)
test_data['Title'] = test_data['Name'].apply(get_title)

# Print unique titles
print("Unique titles in training data:", train_data['Title'].unique())
print("Unique titles in test data:", test_data['Title'].unique())

# Function to map titles to numbers
def map_title(title):
    title_mapping = {
        "Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4,
        "Dr": 5, "Rev": 5, "Col": 5, "Major": 5, "Mlle": 2,
        "Countess": 5, "Ms": 2, "Lady": 5, "Jonkheer": 5,
        "Don": 5, "Dona": 5, "Mme": 3, "Capt": 5, "Sir": 5
    }
    return title_mapping.get(title, 5)  # 5 for any rare title

# Apply title mapping directly to the 'Title' column
train_data['Title'] = train_data['Title'].apply(map_title)
test_data['Title'] = test_data['Title'].apply(map_title)

# Display the first few rows to verify
print("\nFirst few rows of training data with updated Title column:")
print(train_data[['Name', 'Title']].head())

print("\nFirst few rows of test data with updated Title column:")
print(test_data[['Name', 'Title']].head())

# Check the distribution of titles in training data
print("\nDistribution of titles in training data:")
print(train_data['Title'].value_counts().sort_index())

# Check the distribution of titles in test data
print("\nDistribution of titles in test data:")
print(test_data['Title'].value_counts().sort_index())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

Unique titles in training data: ['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'Countess' 'Jonkheer']
Unique titles in test data: ['Mr' 'Mrs' 'Miss' 'Master' 'Ms' 'Col' 'Rev' 'Dr' 'Dona']

First few rows of training data with updated Title column:
                                                Name  Title
0                            Braund, Mr. Owen Harris      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      3
2                             Heikkinen, Miss. Laina      2
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      3
4                           Allen, Mr. William Henry      1

First few rows of test data with updated Title column:
                                           Name  Title
0                              Kelly, Mr. James      1
1              Wilkes, Mrs. James (Ellen Needs)      3
2                     Myles, Mr. Thomas Francis      1
3                              Wirz, Mr. Albert      1
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)      3

Distribution of titles in training data:
Title
1    517
2    185
3    126
4     40
5     23
Name: count, dtype: int64

Distribution of titles in test data:
Title
1    240
2     79
3     72
4     21
5      6
Name: count, dtype: int64

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Changing sex to numeric value

In [50]:
# Function to convert sex to numeric
def sex_to_numeric(sex):
    return 1 if sex == 'male' else 0

# Apply the conversion to both datasets and replace the 'Sex' column
train_data['Sex'] = train_data['Sex'].apply(sex_to_numeric)
test_data['Sex'] = test_data['Sex'].apply(sex_to_numeric)

# Display the first few rows to verify
print("First few rows of training data with updated Sex column:")
print(train_data[['PassengerId', 'Sex', 'Age', 'Survived']].head())

print("\nFirst few rows of test data with updated Sex column:")
print(test_data[['PassengerId', 'Sex', 'Age']].head())

# Check the distribution of Sex in training data
print("\nDistribution of Sex in training data:")
print(train_data['Sex'].value_counts())

# Check the distribution of Sex in test data
print("\nDistribution of Sex in test data:")
print(test_data['Sex'].value_counts())

# Verify the mapping
print("\nUnique values in Sex column (train):", train_data['Sex'].unique())
print("Unique values in Sex column (test):", test_data['Sex'].unique())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

First few rows of training data with updated Sex column:
   PassengerId  Sex   Age  Survived
0            1    1  22.0         0
1            2    0  38.0         1
2            3    0  26.0         1
3            4    0  35.0         1
4            5    1  35.0         0

First few rows of test data with updated Sex column:
   PassengerId  Sex   Age
0          892    1  34.5
1          893    0  47.0
2          894    1  62.0
3          895    1  27.0
4          896    0  22.0

Distribution of Sex in training data:
Sex
1    577
0    314
Name: count, dtype: int64

Distribution of Sex in test data:
Sex
1    266
0    152
Name: count, dtype: int64

Unique values in Sex column (train): [1 0]
Unique values in Sex column (test): [1 0]

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Making a new column Familysize

In [51]:
def calculate_family_size(row):
    return row['SibSp'] + row['Parch'] + 1  # Adding 1 for the passenger themselves

# Apply the function to create the FamilySize column for both datasets
train_data['FamilySize'] = train_data.apply(calculate_family_size, axis=1)
test_data['FamilySize'] = test_data.apply(calculate_family_size, axis=1)

# Display the first few rows to verify
print("First few rows of training data with new FamilySize column:")
print(train_data[['PassengerId', 'SibSp', 'Parch', 'FamilySize']].head())

print("\nFirst few rows of test data with new FamilySize column:")
print(test_data[['PassengerId', 'SibSp', 'Parch', 'FamilySize']].head())

# Check the distribution of FamilySize in training data
print("\nDistribution of FamilySize in training data:")
print(train_data['FamilySize'].value_counts().sort_index())

# Check the distribution of FamilySize in test data
print("\nDistribution of FamilySize in test data:")
print(test_data['FamilySize'].value_counts().sort_index())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

First few rows of training data with new FamilySize column:
   PassengerId  SibSp  Parch  FamilySize
0            1      1      0           2
1            2      1      0           2
2            3      0      0           1
3            4      1      0           2
4            5      0      0           1

First few rows of test data with new FamilySize column:
   PassengerId  SibSp  Parch  FamilySize
0          892      0      0           1
1          893      1      0           2
2          894      0      0           1
3          895      0      0           1
4          896      1      1           3

Distribution of FamilySize in training data:
FamilySize
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: count, dtype: int64

Distribution of FamilySize in test data:
FamilySize
1     253
2      74
3      57
4      14
5       7
6       3
7       4
8       2
11      4
Name: count, dtype: int64

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Removing column cabin and ticket

In [52]:
# Display original column names
print("Original columns in training data:", train_data.columns.tolist())
print("Original columns in test data:", test_data.columns.tolist())

# Remove 'Cabin' and 'Ticket' columns from both datasets
columns_to_drop = ['Cabin', 'Ticket']
train_data = train_data.drop(columns=columns_to_drop)
test_data = test_data.drop(columns=columns_to_drop)

# Display new column names to verify removal
print("\nColumns in training data after removal:", train_data.columns.tolist())
print("Columns in test data after removal:", test_data.columns.tolist())

# Display the first few rows to verify
print("\nFirst few rows of training data after column removal:")
print(train_data.head())

print("\nFirst few rows of test data after column removal:")
print(test_data.head())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

Original columns in training data: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'FamilySize']
Original columns in test data: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title', 'FamilySize']

Columns in training data after removal: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Title', 'FamilySize']
Columns in test data after removal: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Title', 'FamilySize']

First few rows of training data after column removal:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

      Fare Embarked  Title  FamilySize
0   7.2500        S      1           2
1  71.2833        C      3           2
2   7.9250        S      2           1
3  53.1000        S      3           2
4   8.0500        S      1           1

First few rows of test data after column removal:
   PassengerId  Pclass                                          Name  Sex  \
0          892       3                              Kelly, Mr. James    1
1          893       3              Wilkes, Mrs. James (Ellen Needs)    0
2          894       2                     Myles, Mr. Thomas Francis    1
3          895       3                              Wirz, Mr. Albert    1
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0

    Age  SibSp  Parch     Fare Embarked  Title  FamilySize
0  34.5      0      0   7.8292        Q      1           1
1  47.0      1      0   7.0000        S      3           2
2  62.0      0      0   9.6875        Q      1           1
3  27.0      0      0   8.6625        S      1           1
4  22.0      1      1  12.2875        S      3           3

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Filling null values in age column

In [53]:
# Display the number of null values in the Age column before filling
print("Number of null values in Age column (train) before:", train_data['Age'].isnull().sum())
print("Number of null values in Age column (test) before:", test_data['Age'].isnull().sum())

# Fill null values in the Age column with 29
train_data['Age'] = train_data['Age'].fillna(29)
test_data['Age'] = test_data['Age'].fillna(29)

# Display the number of null values in the Age column after filling
print("\nNumber of null values in Age column (train) after:", train_data['Age'].isnull().sum())
print("Number of null values in Age column (test) after:", test_data['Age'].isnull().sum())

# Display the first few rows to verify changes
print("\nFirst few rows of training data after filling Age:")
print(train_data[['PassengerId', 'Age']].head())

print("\nFirst few rows of test data after filling Age:")
print(test_data[['PassengerId', 'Age']].head())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

Number of null values in Age column (train) before: 177
Number of null values in Age column (test) before: 86

Number of null values in Age column (train) after: 0
Number of null values in Age column (test) after: 0

First few rows of training data after filling Age:
   PassengerId   Age
0            1  22.0
1            2  38.0
2            3  26.0
3            4  35.0
4            5  35.0

First few rows of test data after filling Age:
   PassengerId   Age
0          892  34.5
1          893  47.0
2          894  62.0
3          895  27.0
4          896  22.0

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Categorising age

In [54]:
# Function to categorize age
def categorize_age(age):
    if 0 <= age <= 25:
        return 1
    elif 26 <= age <= 50:
        return 2
    elif 51 <= age <= 75:
        return 3
    else:
        return 4

# Apply the categorization to both datasets, replacing the 'Age' column
train_data['Age'] = train_data['Age'].apply(categorize_age)
test_data['Age'] = test_data['Age'].apply(categorize_age)

# Display the first few rows to verify changes
print("First few rows of training data with categorized Age:")
print(train_data[['PassengerId', 'Age']].head())

print("\nFirst few rows of test data with categorized Age:")
print(test_data[['PassengerId', 'Age']].head())

# Check the distribution of Age categories in training data
print("\nDistribution of Age categories in training data:")
print(train_data['Age'].value_counts().sort_index())

# Check the distribution of Age categories in test data
print("\nDistribution of Age categories in test data:")
print(test_data['Age'].value_counts().sort_index())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

First few rows of training data with categorized Age:
   PassengerId  Age
0            1    1
1            2    2
2            3    2
3            4    2
4            5    2

First few rows of test data with categorized Age:
   PassengerId  Age
0          892    2
1          893    2
2          894    3
3          895    2
4          896    1

Distribution of Age categories in training data:
Age
1    301
2    526
3     63
4      1
Name: count, dtype: int64

Distribution of Age categories in test data:
Age
1    142
2    245
3     30
4      1
Name: count, dtype: int64

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Removing fare column

In [55]:
# Display original column names
print("Original columns in training data:", train_data.columns.tolist())
print("Original columns in test data:", test_data.columns.tolist())

# Drop the 'Fare' column from both datasets
train_data = train_data.drop('Fare', axis=1)
test_data = test_data.drop('Fare', axis=1)

# Display new column names to verify removal
print("\nColumns in training data after removal:", train_data.columns.tolist())
print("Columns in test data after removal:", test_data.columns.tolist())

# Display the first few rows to verify
print("\nFirst few rows of training data after column removal:")
print(train_data.head())

print("\nFirst few rows of test data after column removal:")
print(test_data.head())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

Original columns in training data: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Title', 'FamilySize']
Original columns in test data: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Title', 'FamilySize']

Columns in training data after removal: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked', 'Title', 'FamilySize']
Columns in test data after removal: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked', 'Title', 'FamilySize']

First few rows of training data after column removal:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex  Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1    1      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0    2      1      0
2                             Heikkinen, Miss. Laina    0    2      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0    2      1      0
4                           Allen, Mr. William Henry    1    2      0      0

  Embarked  Title  FamilySize
0        S      1           2
1        C      3           2
2        S      2           1
3        S      3           2
4        S      1           1

First few rows of test data after column removal:
   PassengerId  Pclass                                          Name  Sex  \
0          892       3                              Kelly, Mr. James    1
1          893       3              Wilkes, Mrs. James (Ellen Needs)    0
2          894       2                     Myles, Mr. Thomas Francis    1
3          895       3                              Wirz, Mr. Albert    1
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0

   Age  SibSp  Parch Embarked  Title  FamilySize
0    2      0      0        Q      1           1
1    2      1      0        S      3           2
2    3      0      0        Q      1           1
3    2      0      0        S      1           1
4    1      1      1        S      3           3

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Dropping columns that are not required

In [56]:
# Display original column names
print("Original columns in training data:", train_data.columns.tolist())
print("Original columns in test data:", test_data.columns.tolist())

# List of columns to drop
columns_to_drop = ['Fare', 'SibSp', 'Parch', 'TitleNum', 'AgeCategory']

# Drop the specified columns from both datasets
train_data = train_data.drop(columns=columns_to_drop, errors='ignore')
test_data = test_data.drop(columns=columns_to_drop, errors='ignore')

# Display new column names to verify removal
print("\nColumns in training data after removal:", train_data.columns.tolist())
print("Columns in test data after removal:", test_data.columns.tolist())

# Display the first few rows to verify
print("\nFirst few rows of training data after column removal:")
print(train_data.head())

print("\nFirst few rows of test data after column removal:")
print(test_data.head())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

Original columns in training data: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked', 'Title', 'FamilySize']
Original columns in test data: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked', 'Title', 'FamilySize']

Columns in training data after removal: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Embarked', 'Title', 'FamilySize']
Columns in test data after removal: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'Embarked', 'Title', 'FamilySize']

First few rows of training data after column removal:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex  Age Embarked  \
0                            Braund, Mr. Owen Harris    1    1        S
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0    2        C
2                             Heikkinen, Miss. Laina    0    2        S
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0    2        S
4                           Allen, Mr. William Henry    1    2        S

   Title  FamilySize
0      1           2
1      3           2
2      2           1
3      3           2
4      1           1

First few rows of test data after column removal:
   PassengerId  Pclass                                          Name  Sex  \
0          892       3                              Kelly, Mr. James    1
1          893       3              Wilkes, Mrs. James (Ellen Needs)    0
2          894       2                     Myles, Mr. Thomas Francis    1
3          895       3                              Wirz, Mr. Albert    1
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0

   Age Embarked  Title  FamilySize
0    2        Q      1           1
1    2        S      3           2
2    3        Q      1           1
3    2        S      1           1
4    1        S      3           3

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Drop Name Column

In [57]:
# Display original column names
print("Original columns in training data:", train_data.columns.tolist())
print("Original columns in test data:", test_data.columns.tolist())

# Drop the 'Name' column from both datasets
train_data = train_data.drop(columns=['Name'])
test_data = test_data.drop(columns=['Name'])

# Display new column names to verify removal
print("\nColumns in training data after removal:", train_data.columns.tolist())
print("Columns in test data after removal:", test_data.columns.tolist())

# Display the first few rows to verify
print("\nFirst few rows of training data after column removal:")
print(train_data.head())

print("\nFirst few rows of test data after column removal:")
print(test_data.head())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

Original columns in training data: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Embarked', 'Title', 'FamilySize']
Original columns in test data: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'Embarked', 'Title', 'FamilySize']

Columns in training data after removal: ['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'Embarked', 'Title', 'FamilySize']
Columns in test data after removal: ['PassengerId', 'Pclass', 'Sex', 'Age', 'Embarked', 'Title', 'FamilySize']

First few rows of training data after column removal:
   PassengerId  Survived  Pclass  Sex  Age Embarked  Title  FamilySize
0            1         0       3    1    1        S      1           2
1            2         1       1    0    2        C      3           2
2            3         1       3    0    2        S      2           1
3            4         1       1    0    2        S      3           2
4            5         0       3    1    2        S      1           1

First few rows of test data after column removal:
   PassengerId  Pclass  Sex  Age Embarked  Title  FamilySize
0          892       3    1    2        Q      1           1
1          893       3    0    2        S      3           2
2          894       2    1    3        Q      1           1
3          895       3    1    2        S      1           1
4          896       3    0    1        S      3           3

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Converting embarked column to numeric values

In [58]:
def map_embarked(value):
    mapping = {'S': 1, 'Q': 2, 'C': 3}
    return mapping.get(value, 0)  # 0 for any unknown value

# Apply the mapping to the Embarked column
train_data['Embarked'] = train_data['Embarked'].map(map_embarked)
test_data['Embarked'] = test_data['Embarked'].map(map_embarked)

# Display the first few rows to verify changes
print("First few rows of training data with updated Embarked column:")
print(train_data[['PassengerId', 'Embarked']].head())

print("\nFirst few rows of test data with updated Embarked column:")
print(test_data[['PassengerId', 'Embarked']].head())

# Check the distribution of Embarked values in training data
print("\nDistribution of Embarked values in training data:")
print(train_data['Embarked'].value_counts().sort_index())

# Check the distribution of Embarked values in test data
print("\nDistribution of Embarked values in test data:")
print(test_data['Embarked'].value_counts().sort_index())

# Save the updated datasets
train_data.to_csv('train_updated.csv', index=False)
test_data.to_csv('test_updated.csv', index=False)

print("\nUpdated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'")

First few rows of training data with updated Embarked column:
   PassengerId  Embarked
0            1         1
1            2         3
2            3         1
3            4         1
4            5         1

First few rows of test data with updated Embarked column:
   PassengerId  Embarked
0          892         2
1          893         1
2          894         2
3          895         1
4          896         1

Distribution of Embarked values in training data:
Embarked
0      2
1    644
2     77
3    168
Name: count, dtype: int64

Distribution of Embarked values in test data:
Embarked
1    270
2     46
3    102
Name: count, dtype: int64

Updated datasets have been saved as 'train_updated.csv' and 'test_updated.csv'

Training models and calculating accuracy

In [59]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression, Perceptron, SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

# Load the data
train_data = pd.read_csv('train_updated.csv')
test_data = pd.read_csv('test_updated.csv')

# Separate features and target for training data
X_train = train_data.drop('Survived', axis=1)
Y_train = train_data['Survived']

# Prepare test data
X_test = test_data.copy()

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define models
models = {
    'Support Vector Machines': SVC(),
    'KNN': KNeighborsClassifier(),
    'Logistic Regression': LogisticRegression(),
    'Random Forest': RandomForestClassifier(n_estimators=100),
    'Naive Bayes': GaussianNB(),
    'Perceptron': Perceptron(),
    'Stochastic Gradient Descent': SGDClassifier(),
    'Linear SVC': LinearSVC(),
    'Decision Tree': DecisionTreeClassifier()
}

# Train models and calculate accuracy
accuracies = {}
for name, model in models.items():
    model.fit(X_train_scaled, Y_train)
    acc = round(model.score(X_train_scaled, Y_train) * 100, 2)
    accuracies[name] = acc

# Sort accuracies from largest to smallest
sorted_accuracies = dict(sorted(accuracies.items(), key=lambda item: item[1], reverse=True))

# Print sorted accuracies
print("\nModel Accuracies (sorted from largest to smallest):")
for model, accuracy in sorted_accuracies.items():
    print(f"{model}: {accuracy}%")

# Optional: Make predictions with the best model (assuming Random Forest is best)
best_model = models['Random Forest']
Y_pred = best_model.predict(X_test_scaled)

# Create submission file
submission = pd.DataFrame({
    'PassengerId': test_data['PassengerId'],
    'Survived': Y_pred
})
submission.to_csv('submission.csv', index=False)
print("\nPredictions saved to 'submission.csv'")

Model Accuracies (sorted from largest to smallest):
Random Forest: 100.0%
Decision Tree: 100.0%
KNN: 85.86%
Support Vector Machines: 83.73%
Logistic Regression: 80.7%
Naive Bayes: 80.58%
Linear SVC: 80.36%
Stochastic Gradient Descent: 80.13%
Perceptron: 79.35%

Predictions saved to 'submission.csv'

/usr/local/lib/python3.10/dist-packages/sklearn/svm/_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(